<div>
    <p>title: <strong>@Movie.Title</strong></p>
    <p>Release Date: <strong>@Movie.ReleaseDate.ToString("dd MMM yyyy")</strong></p>
    @if (displayButtons == true)
    {
        <div>
            <button @onclick="@(() => DeleteMovie.InvokeAsync(Movie))">Delete</button>
        </div>
    }

</div>


@code {
    [Parameter] public Movie Movie { get; set; }
    [Parameter] public bool displayButtons { get; set; } = false;
    [Parameter] public EventCallback<Movie> DeleteMovie { get; set; }

}
