@using Microsoft.AspNetCore.Components.WebAssembly.Authentication

@inject NavigationManager navigationManager
@inject SignOutSessionStateManager signOutManager


<AuthorizeView>
    <Authorized>
        <span>Hello, @context.User.Identity.Name</span>
        <button @onclick="BeginSignOut" class="nav-link btn btn-link">Logout</button>
    </Authorized>
    <NotAuthorized>
        <a href="authentication/register" class="nav-link btn btn-link">Register</a>
        <a href="authentication/login" class="nav-link btn btn-link">Login</a>
    </NotAuthorized>
</AuthorizeView>

@code {
    private async Task BeginSignOut(MouseEventArgs args)
    {
        await signOutManager.SetSignOutState();
        navigationManager.NavigateTo("authentication/logout");
    }
}