<h3>MoviesList</h3>

@if (movies == null)
{
    <img src="https://media2.giphy.com/media/3oEjI6SIIHBdRxXI40/200.gif" />
}
else
{
    @foreach (var movie in movies)
    {
        <div>
            <p>title: <strong>@movie.Title</strong></p>
            <p>Release Date: <strong>@movie.ReleaseDate.ToString("dd MMM yyyy")</strong></p>
        </div>
    }
}

@code {
    string name = "Julia";
    List<Movie> movies;


    protected async override Task OnInitializedAsync()
    {
        await Task.Delay(3000);
        movies = new List<Movie>()
        {
            new Movie() { Title = "Spider-man: far From Home", ReleaseDate = new DateTime(2019, 7, 2)},
            new Movie() { Title = "Moana", ReleaseDate = new DateTime(2016, 11, 23)},
            new Movie() { Title = "Inception", ReleaseDate = new DateTime(2010, 7, 16)}
        };

        base.OnInitialized();
    }
}
