<h3>MoviesList</h3>

@if (Movies == null)
{
    <img src="https://media2.giphy.com/media/3oEjI6SIIHBdRxXI40/200.gif" />
}
else
{
    <input type="checkbox" @onchange="@(() => displayButtons = !displayButtons)" />

    @foreach (var movie in Movies)
    {
        <IndividualMovie Movie="movie" displayButtons="displayButtons" />
    }
}

@code {
    [Parameter] public List<Movie> Movies { get; set; }
    bool displayButtons = false;


    protected async override Task OnInitializedAsync()
    {
        await Task.Delay(3000);
        Movies = new List<Movie>()
        {
            new Movie() { Title = "Spider-man: far From Home", ReleaseDate = new DateTime(2019, 7, 2)},
            new Movie() { Title = "Moana", ReleaseDate = new DateTime(2016, 11, 23)},
            new Movie() { Title = "Inception", ReleaseDate = new DateTime(2010, 7, 16)}
        };

        base.OnInitialized();
    }
}
