@page "/"
@inject IRepository repository

    <div>
        <h3>Movie</h3>
        <MoviesList Movies="movies" />
    </div>

    <button @onclick="AddNewMovie">Add New Movie</button>



@code {
    private List<Movie> movies;
    protected override void OnInitialized()
    {
        base.OnInitialized();
        movies = repository.GetMovies();
    }

    private void AddNewMovie()
    {
        movies.Add(new Movie() { Title = "movie sample", ReleaseDate = DateTime.Today });
    }

}
