@page "/"
@inject IMoviesRepository moviesRepository


@if (!IsLoading)
{
    <div>
        <h3>In Theaters</h3>
        @if (InTheaters != null)
        {
            <MoviesList Movies="InTheaters" />
        }
        else
        {
            <h4>No Movies currently In theaters.</h4>
        }

    </div>
    <div>
        <h3>Upcomming Releases</h3>
        @if (UpcomingReleases != null)
        {
            <MoviesList Movies="UpcomingReleases" />
        }
        else
        {
            <h4>No Movies are upcomming for release.</h4>
        }

    </div>
}
else
{

}


@code {
    private bool IsLoading = false;
    private List<Movie> InTheaters;
    private List<Movie> UpcomingReleases;
    protected async override Task OnInitializedAsync()
    {
        IsLoading = true;
        var response = await moviesRepository.GetIndexPageDTO();
        InTheaters = response.InTheaters;
        UpcomingReleases = response.UpcomingReleases;

        await base.OnInitializedAsync();
        IsLoading = false;
    }
}
