<Router AppAssembly="@typeof(Program).Assembly">
    <Found Context="routeData">
        <AuthorizeRouteView RouteData="@routeData" DefaultLayout="@typeof(MainLayout)">
            <Authorizing>
                <p>Custom Authorizing...</p>
            </Authorizing>
            <NotAuthorized>
                <p>Custom Not Authorized...</p>
            </NotAuthorized>
        </AuthorizeRouteView>
    </Found>
    <NotFound>
        <CascadingAuthenticationState>
            <LayoutView Layout="@typeof(MainLayout)">
                <CustomNotFound></CustomNotFound>
            </LayoutView>
        </CascadingAuthenticationState>
    </NotFound>
</Router>
