@page "/movies/create"
@inject IMoviesRepository moviesRepository
@inject IGenreRepository genreRepository
@inject NavigationManager navigationManager

<h3>Create Movie</h3>

@if (NotSelectedGenres != null)
{
    <MovieForm Movie="Movie" OnValidSubmit="SaveMovie" NotSelectedGenres="NotSelectedGenres" />
}


@code {
    private Movie Movie = new Movie();
    private List<Genre> NotSelectedGenres;

    protected async override Task OnInitializedAsync()
    {
        NotSelectedGenres = await genreRepository.GetGenres();

        await base.OnInitializedAsync();
    }



    private async Task SaveMovie()
    {
        // Saving Movie
        try
        {
            var movieID = await moviesRepository.CreateMovie(Movie);
            navigationManager.NavigateTo($"movies/{movieID}/{Movie.Title.Replace(" ", "-")}");
        }
        catch (Exception ex)
        {
            Console.Write(ex.Message.ToString());
        }


    }
}
