@page "/movies/edit/{MovieId:int}"
@inject IMoviesRepository moviesRepository
@inject NavigationManager navigationManager
@attribute [Authorize]

<h3>Edit Movie</h3>
@if (Movie != null)
{
    <MovieForm Movie="Movie" OnValidSubmit="Edit" NotSelectedGenres="NotSelectedGenres" SelectedGenres="SelectedGenres" SelectedActors="SelectedActors" />
}


@code {
    [Parameter] public int MovieId { get; set; }
    private Movie Movie;
    private List<Genre> NotSelectedGenres;
    private List<Genre> SelectedGenres;
    private List<Person> SelectedActors;

    protected async override Task OnInitializedAsync()
    {
        var model = await moviesRepository.GetMovieForUpdate(MovieId);
        Movie = model.Movie;
        NotSelectedGenres = model.NotSelectedGenres;
        SelectedGenres = model.SelectedGenres;
        if (SelectedGenres.Count > 0) { Console.WriteLine($"Selected Genre: {SelectedGenres.FirstOrDefault().Name}"); }
        SelectedActors = model.Actors;

        await base.OnInitializedAsync();

    }

    private async Task Edit()
    {
        await moviesRepository.UpdateMovie(Movie);
        navigationManager.NavigateTo($"movies/{MovieId}/{Movie.Title.Replace(" ", "-")}");
    }
}
