@page "/genre/edit/{GenreId:int}"
@inject IGenreRepository genreRepository
@inject NavigationManager navigationManager

<h3>EditGenre</h3>

@if (genre != null)
{
    <GenreForm Genre="genre" OnValidSubmit="Edit" />
}

@code {
    [Parameter] public int GenreId { get; set; }
    public Genre genre;

    protected async override Task OnInitializedAsync()
    {
        genre = await genreRepository.GetGenre(GenreId);
        await base.OnInitializedAsync();
    }

    private async Task Edit()
    {
        await genreRepository.UpdateGenre(genre);
        navigationManager.NavigateTo("genres");
    }

}
